<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
welcome {{request.session.fname}}

<a href="/student/create/">Create Student</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/student/getall/">Get All Students</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/student/getstd/">Get Student by id</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/student/getstd1/">Get Student by name</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/student/dltstd/">Delete Student</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/student/logoutStudent/">Logout Student</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/student/csv/">Logout Student</a>&nbsp;&nbsp;&nbsp;&nbsp;

</body>
</html>