<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
Welcome {{request.session.fname}} ,{{request.session.lname}}
<br/>

<a href="/customer/getall/">Get All Emps</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/customer/getemp/">Get Employee by id</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/customer/getemp1/">Get Employee by name</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/customer/dltemp/">Delete Employee</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/customer/sortemp/">Sort Employee</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/customer/pagination?page=1">pagination</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/customer/logoutEmployee/">Logout Employee</a>&nbsp;&nbsp;&nbsp;&nbsp;
</body>

</html>
</body>
</html>