<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 {% include "customerMenu.html" %}

 <br/><br/>

     <table border = "2",width="30%">

        <tr>
            <th>Id </th>
            <th>Firstname </th>
            <th>Lastname </th>
            <th>Age </th>
            <th>Username </th>
            <th>Date </th>
            <th>Action</th>
        </tr>
       {% for e in resultList %}

          <tr>
              <td>{{ e.id}} </td>
                   <td>{{ e.firstName}} </td>
                   <td>{{ e.lastName}}</td>
                   <td>{{ e.age}} </td>
                   <td>{{ e.username}} </td>
                   <td>{{ e.password}} </td>
                   <td>{{ e.created_date}} </td>
                  <td>
                  <a href="/customer/editEmployee?id={{e.id}}">Edit</a>
                  <a href="/customer/dltemp?id={{e.id}}">Delete</a>
                  </td>

          </tr>
       {% endfor %}
   </table>

<br/><br/>

        {% if resultList.has_previous %}
            <a href="?page=1">&laquo; first</a> &nbsp;&nbsp;&nbsp;
            <a href="?page={{ resultList.previous_page_number }}">previous</a>
        {% endif %}


        {% if resultList.has_next %}
            <a href="?page={{ resultList.next_page_number }}">next</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="?page={{ resultList.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    <br/><br/>


  {%for i in  pageNos  %}
             <a href="?page={{ i }}">{{ i }}</a>&nbsp;&nbsp;
   {% endfor %}



</body>
</html>