<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 {% include "index.html" %}
<html>
		<body>
	 	<h2><label id="addDeptLbl">Add Person</label> </h2>

		<form action="/login/submit2" >
	   		<table>
			     <tr>
			        <td><label id="deptLbl">First Name:</label> </td>
			        <td><input type="text" name="firstname" /></td>
			    </tr>
                <tr>
			        <td><label id="deptLbl">Last Name:</label> </td>
			        <td><input type="text" name="lastname"/></td>
			    </tr>
                <tr>
                    <td><label id="deptLbl">Sem:</label> </td>
			        <td><input type="text" name="sem"/></td>
			    </tr>
                <tr>
                    <td><label id="deptLbl">Branch:</label> </td>
			        <td><input type="text" name="branch"/></td>
			    </tr>


			    <tr>
                    <td colspan="2">
			      <input id="submit" type="submit" value="Submit"/></td>
		      </tr>
			</table>
		</form>
	</body>
</html>



</body>
</html>