<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>my form page</title>
</head>
<body>
	
	<!--   
action -> sepecifies the url for the button
GET -> then form data is visible in the url

Post -> then form data is not visible in the url

-->
<!--<form action="https://www.google.com" method="get"> -->
	<form action="" method="get">
	<!--  <form action="ex1.html" method="get">  -->
	<!--  <form action="ex1.html" method="post">  -->



		Enter FirstName1 : <input type="text" id="myname" name="uName" /> <br>
		
		Enter Middle Name : <input type="text" name="uName1" readonly="readonly" value="kumar" />
	   
	    <br> Enter Surname :<input type="text" name="uName2" disabled="disabled" /><br>
		
		<br> Enter LastName : <input type="text" name="LName" size="30" width="30" /><br>
		
		<br>  Password: <input type="password" name="password" />
		
		<input type="hidden" name="uType" value="agent" /><br>
		
		<br> Gender: <br>
		<input type="radio" name="gender" id="mRadio" value="male" checked> Male<br> 
			<input type="radio" name="gender" id="fRadio" value="female"> Female <br> 
			<input type="radio" name="gender" id="oRadio" value="other"> Other <br>
		
		<br> Proofs: <br>
		<input type="checkbox" name="proof1" value="passport">passport &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		<input 	type="checkbox" name="proof2" value="voter">voter &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		<input type="checkbox" name="proof3" value="pan" checked> pan
		
		<br> 
		Select City
		<select name="city">
			<option value="hyd">Hyderabad</option>
			<option value="bang" selected="selected">Bangalore</option>
			<option value="chen">Chennai</option>
			<option value="mum">Mumbai</option>
		</select> <br />
		
		<br> Citizenship: <select name="citizen" multiple>
			<option value="IN">India</option>
			<option value="PAK">Pakistan</option>
			<option value="US">America</option>
			<option value="AUS">Australia</option>
		</select> <br>
		
		
		 <br /> Enter Address:
		 <textarea name="address" rows="5" cols="80"></textarea>
		 <!--   <textarea name="address" style="width: 100px; height: 100px;">	</textarea> -->
	
		<br />
		<br> Upload image :<input type="file" name="fileupload" accept="image/*" /> <br />
		<br> <input type="submit" name="submit" value="submit" />
	</form>

</body>
</html>