<html>
<head>
 </head>
<body>

<img src="myimage.jpg" alt="my photo" width="460" height="345">

<a href="https://www.google.com">Click here for google</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://www.facebook.com">Click here for facebook</a>
<a href="ex1.html">Click here to go to Ex6</a> <br/>
<button>Click me</button>
  
  <br/> <br/> <br/>
  
  <input type="button" name="register" value="register">
  
     <br/> <br/> <br/>
  
  <input type="submit" name="save" value="save">

  <br/> <br/> <br/>
  
  <a href="https://www.google.com">Click Here for Google</a>
  
  <br/> <br/> <br/>
  
  <a href="Ex2.html">Click Here for Ex2</a>
    
  <br/> <br/> <br/>
 <a href="https://www.gmail.com" target="_blank">Click Here for Gmail</a>
 
 <br/> <br/> <br/>

<a id="gLink1" href=""  
    onclick="window.open('https://www.fb.com', 
                         'newwindow', 
                         'width=700,height=750'); 
              return false;"
 >Open Window</a>
 
  <img src="myimage.jpg" width="100" height=""/>
  
 <a href="https://www.fb.com">
  <img src="myimage.jpg" alt="my pic" style="width:42px;height:42px;">
</a>
 

</body>
</html>