<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locators</title>
</head>
<body>


Enter First Name : <input type="text" name="fName">  <br/> <br/>
Enter Last Name : <input type="text" id="lName">  <br/> <br/>

<a href="https://www.google.com">Click here for google</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://www.facebook.com">Click here for facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="ex1.html">Click here to go to Ex6</a> <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



</body>
</html>