<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "accountMenu.html" %}

<H2> Account Search Form: </H2>

<font color="red"> {{msg}}</font>
		<form action= "/account/getAccount/" method="post">
             {% csrf_token %}
	   		<table>
			     <tr>
			        <td><label id="deptLbl">Enter userName:</label> </td>
			        <td><input type="text" name="name"
					value="{{name}}"/></td>
			    </tr>
                <tr>
			      <td colspan="2">
			      <input id="submit" type="submit" value="Search"/></td>
		      </tr>
			</table>
		</form>


</body>
</html>